//先針對media queries的width設為變數

$pc-media:960px;
$pad-media:760px;
$phone-media:480px;


/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

//平板
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pc-media - 1) {
    @content;
  }
}

//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width: $pad-media - 1) {
    @content;
  }
}

//手機
@mixin phone-width() {
  @media all and (max-width: $phone-media - 1) {
    @content;
  }
}